.musicmain{
    background: rgb(84, 84, 84);
    background: rgb(28, 27, 27);


}

.progress_bar{
    height:3px ;
    /*overflow: hidden;
    */width:100% ;
    border-radius: 4px;
    /*background:cadetblue;
    */background:rgb(236, 229, 229);
    /*background: rgb(84, 84, 84);
    */overflow: hidden;
    /*border: 1px solid white;
    *//*margin-top: 30px;
    */-webkit-border-radius: 4px;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    /*position: relative;
    top: -30px;
    */:;
    -webkit-border-radius:;
    /*margin-top: 20px;
     */:;
}
.progressed{
    height: 5px;
    width: 0.5%;
    border-radius: 4px;
    background-color: rgb(185, 181, 181);
    background: rgb(255, 0, 0);
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
.img img{
    height: 5vh;
    width: 5vw;
    /* margin-top: 50px; */
    

}
.img{
    display: flex;
    /* background:rgb(142, 135, 135); */
    justify-content: center;
    /* align-items:end; */
    /* margin-top: 20px; */
    /* padding-top: 20px; */
}
.sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first h2{
    color: white;
    margin-left: 1vw;
    margin-top: 1vw;
    font-size: 1vw;
}
.last h2{
    color: white;
    margin-right: 1vw;
    font-size: 1vw;
    margin-top: 1vw;


}